* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  margin: 0;
  font-size: 16px;
}

body {
  display: flex;
  background-color: #121212;
}

.form {
  flex: 0 0 35%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #242424;
  justify-content: center;
}

.form__email,
.form__password,
button {
  min-height: 2rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form__email,
.form__password {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.form__submit,
button {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1.4px;
  background-image: linear-gradient(to right, lightskyblue, lightseagreen);
}

.form__title {
  color: white;
  letter-spacing: 1.5px;
  margin-top: 0;
}

.form__info {
  margin: 0;
  text-align: center;
  color: white;
  letter-spacing: 1.5px;
}
